#root {
  max-width: 380px;
  margin: 0em;
  text-align: center;
  /* padding: 2rem; */
  /* border: 1px solid #ccc; */
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: large;
  padding: 0.5em 1em;
  border-radius: 50px;
}

hr {
  padding: 0em;
  margin: 0em;
}

p {
  padding:  0em;
  margin: 0.25em 0em;
}