#root {
  max-width: 380px;
  margin: 0em;
  text-align: center;
  /* padding: 2rem; */
  /* border: 1px solid #ccc; */
}

hr {
  padding: 0em;
  margin: 0em;
}

p {
  padding:  0em;
  margin: 0.25em 0em;
}