@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;

  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 380px;
  margin: 0em auto;
  padding: 0em;
}

button {
  font-family: "Google Sans Flex", sans-serif;
  font-size: 0.95em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 50px;
}

ul,
li,
summary {
  list-style: none;
}

details,
summary {
  cursor: pointer;
}

.details-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s ease;
}

details[open] .details-content {
  max-height: 500px;
}

nav::-webkit-scrollbar {
  display: none;
}